span{
    color: red;
    font-size: x-large;
    font-family: serif;
    font-style: italic;
    font-weight: 100;
    text-transform: capitalize;
}
h1{
    color: blueviolet;
    text-align: center;
    font-style: unset;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 100%;
    height: 40px;
    padding: 15px;
}
p{
    color: black;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align: center;
    width: 105%;
    height: 30px;

}
.hd{
    background-color: rgb(230, 230, 250);
}
#a1{
    color: brown;
    width: 100%;
    height: 20px;
    font-size: x-large;
    display: block;
    text-align: center;
    padding: 10px;
}
#a1,h1,p{
    margin: 0;
}
.nv{
    border:salmon solid 5px;
    margin-bottom: auto;
}
.sec{
    float: left;
    width: 50%;
    height: 500px;
    background-color: beige;
}
.art{
    background-color: beige;
    float: left;
    width: 50%;
    height: 500px;
}
h2{
    text-align: center;
    font-size: larger;
}
.a2{
    display: block;
    font-size: x-large;
    text-align: center;
}
h3{
    text-align: center;
    color: rgb(179, 46, 73);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
iframe{
    width: 100%;
    height: 100%;
}

.hd:hover{
    background-color: rgb(255, 228, 225);
}
#a3{
    float: right;
    width: 60%;
    height: 307px;
}
h4{
    text-align: center;
    text-decoration: dashed;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: x-large;
    color: rgb(198, 12, 245);
    text-shadow: 3px 5px 6px rgb(35, 3, 30) ;
}
.bd{
    background-color: rgb(206, 166, 166);
}
#im2{
    float: left;
    width: auto;
}
.nv2{
    float: left;
    width: 50%;
    height: 307px;
}
.sec2{
    float: right;
    width: 50%;
    height: auto;
}

#a4{
    font-size: large;
    color: brown;
    width: 100%;
    height: 20px;
    padding: 20px;
}
table{
    border-collapse: collapse;
    border: solid 2px black;
    width: 100%;
    height: 100%;
}
tr,th,td{
    border: solid 2px black;
}
h5{
    text-align: center;
    color: rgb(34, 1, 53);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    text-transform: capitalize;
}
footer{
    clear: both;
}
h6{
    text-align: center;
    text-decoration: dashed;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: x-large;
    color: rgb(101, 6, 40);
    font-weight: 300;
    text-transform: capitalize;
}
section{
    float: left;
    width: 50%;
}
article{
    float: right;
    width: 50%;
}
.in{
    border-radius: 20px;
    background-color: burlywood;
    position: relative;
    left:150px;
    top: 50px;
}